html {
  height: 100%;
  width: 100%;
}
html, body {
  background: linear-gradient(180deg, #A79AB7 0%, #C0BACA 11.98%, #EBEFE9 49.48%, #C8D6C3 87.5%, #B7CAB1 100%);
}

body {
  font-family: Helvetica, Arial, sans-serif;  
  padding: 20px 20px;
}

/* HERO */
button {
  background-color:  #008CBA;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  cursor: pointer;
}



/* FIND LOCAL FOOD BANKS*/ 
#website-logo-hero {
  height: 50%;
  width: 50%;
}

.section-title {
  text-transform: uppercase;
}


body, .section-header-image {
  padding: 0px;
}

.section-header-image {
  width: 100%;
}